# ==============================
# Build and bin directories
# ==============================
build/
bin/

# ==============================
# Artifacts from running programs
# ==============================
artifacts/
